<h5>Roadmap:</h5>
<ul>
  <li>Add fixed transactions templates</li>
  <li>Add long-period expenses planner
    <ul>
      <li>Savings growth over time?</li>
    </ul>
  </li>
  <li>Add N26 transactions and account balance sync</li>
  <li>Allow to have multiple users for budgets, currencies etc.</li>
  <li>Create audit model for inspecting all changes done.</li>
  <li>Extend show views by graphs and more analytics data</li>
  <li>Add interactive todo with API to store all notes there, so I can add them anytime I find new bug or have new idea. Probably with 3 categories at least: roadmap, todo, bugs.</li>
</ul>
<br>
<h5>Bugs:</h5>
<ul>
  <li>Check and eventually fix calculating sum in transactions view.</li>
  <li>Fix ExpressionChangedAfterItHasBeenCheckedError in transaction edit</li>
</ul>
<br>
<h5>TODO:</h5>
<ul>
  <li>Overview:
    <ul>
      <li>Add expenses from savings: Transactions with Saving Account as source</li>
      <li>Add savings transactions: Transactions with Saving Account as destination</li>
    </ul>
  </li>
  <li>Transactions:
    <ul>
    </ul>
  </li>
  <li>Improve "show" view (title, layout)</li>
  <li>Revamp filters, update, add buttons etc, for both PC and mobile view.</li>
  <li>Add missing filters for all tables</li>
  <li>Tables sorting support (by at least one column ASC/DESC</li>
  <li>Add sum of total accounts balances for currencies view (?)
    <ul>
      <li>Eager load accounts while loading currencies</li>
      <li><code>{{"Currency.includes(:accounts, :balances).where(balances: { timeperiod: nil, owner_type: 'Account' }, currencies: { user: 1 }).group('balances.currency_id').sum(:value)"}}</code></li>
    </ul>
  </li>
</ul>
