<GridLayout columns="auto, *, auto" class="sidedrawer-list-item text-left" (tap)="toggleOptions()">
  <Label col="0" [text]="icon ? (icon | fonticon) : ''" class="fa"></Label>
  <Label col="1" text="{{ buttonTitle() }}"></Label>
  <Label col="2" [text]="(optionsOpened ? 'fa-angle-down' : 'fa-angle-up') | fonticon" class="fa text-right"></Label>
</GridLayout>

<StackLayout visibility="{{optionsOpened ? 'visible' : 'collapsed'}}">
  <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item-nested" (tap)="!isActiveAllOption() && select.emit('')"u [ngClass]="{'selected': isActiveAllOption()  }">
    <Label col="0" [text]="'fa-arrow-right' | fonticon" class="fa"></Label>
    <Label col="1" [text]="allText"></Label>
  </GridLayout>

  <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item-nested" *ngFor="let option of options" [ngClass]="{'selected': isActiveOption(option) }" (tap)="!isActiveOption(option) && select.emit(option)">
    <Label col="0" [text]="'fa-arrow-right' | fonticon" class="fa"></Label>
    <Label col="1" text="{{optionString(option)}}"></Label>
  </GridLayout>
</StackLayout>
