<div class="btn-toolbar" role="toolbar">
  <button type="button" class="btn mr-2 mb-2 btn-primary" (click)="update()"><fa-icon icon="undo"></fa-icon><span class="d-none d-sm-inline"> Update</span></button>
  <button type="button" class="btn mr-2 mb-2 btn-success" routerLink="/{{path}}/new"><fa-icon icon="plus"></fa-icon><span class="d-none d-sm-inline"> New</span></button>
  <ng-container *ngIf="filters.length > 0">
    <button type="button" class="btn mr-2 mb-2 btn-danger" (click)="reset()"><fa-icon icon="filter"></fa-icon><span class="d-none d-sm-inline"> Reset filters</span></button>
    <div *ngFor="let filter of filters" >
      <app-filter [properties]="filter"></app-filter>
    </div>
  </ng-container>
</div>
