<div *ngIf="transaction">
  <div class="text-center">
    <h3>Transaction {{transaction.name}}</h3>
  </div>
  <br>
  <button type="button" class="btn btn-primary" routerLink="./edit"><fa-icon icon="edit"></fa-icon><span class="d-none d-sm-inline"> Edit</span></button>
  <button type="button" class="btn btn-danger" (click)="delete(transaction)"><fa-icon icon="trash-alt"></fa-icon><span class="d-none d-sm-inline"> Delete</span></button>
  <button type="button" class="btn btn-secondary pull-right" (click)="locationService.back()"><fa-icon icon="undo"></fa-icon> Back</button>
  <br><br>
  Name: {{ transaction.name }}<br>
  Comment: {{ transaction.comment }}<br>
  Incomes: <span [ngClass]="{'text-success': transaction.incomes_balance > 0}">{{transaction.incomes_balance > 0 ? '+' + transaction.incomes_balance : '0.0'}}</span><br>
  Expenses: <span [ngClass]="{'text-danger': transaction.expenses_balance < 0}">{{transaction.expenses_balance ? transaction.expenses_balance : '0.0'}}</span><br>
  Balance: <span [ngClass]="{'text-success': transaction.balance > 0, 'text-danger': transaction.balance < 0}">{{transaction.balance ? (transaction.balance > 0 ? '+' + transaction.balance : transaction.balance) : '0.0'}}</span><br>
</div>
