a.dropdown-item.bg-inverse {
  color: #9d9d9d;
}

a.dropdown-item.bg-inverse:hover {
  background-color: #292b2c!important;
  color: rgba(255,255,255,.75);
}

.dropdown-menu {
  border-color: #292b2c!important;
  padding: .2em 1em;
}

@media (min-width: 992px) {
  .scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
  }
}
