<div *ngIf="budget">
  <div class="text-center">
    <h3>Budget {{budget.name}}</h3>
  </div>
  <br>
  <button type="button" class="btn btn-success" (click)="timeframeService.isCurrentBudget(budget) ? timeframeService.selectBudget() : timeframeService.selectBudget(budget)"><fa-icon icon="check"></fa-icon> {{ timeframeService.isCurrentBudget(budget) ? 'Deselect' : 'Select' }}</button>
  <button type="button" class="btn btn-primary" routerLink="./edit"><fa-icon icon="edit"></fa-icon><span class="d-none d-sm-inline"> Edit</span></button>
  <button type="button" class="btn btn-warning" disabled><fa-icon icon="archive"></fa-icon><span class="d-none d-sm-inline"> Archive</span></button>
  <button type="button" class="btn btn-danger" (click)="delete(budget)"><fa-icon icon="trash-alt"></fa-icon><span class="d-none d-sm-inline"> Delete</span></button>
  <button type="button" class="btn btn-secondary pull-right" (click)="locationService.back()"><fa-icon icon="undo"></fa-icon> Back</button>
  <br><br>
  Name: {{ budget.name }}<br>
  Comment: {{ budget.comment }}<br>
  Currency: <a [routerLink]="['/currencies', budget.currency.id]">{{ budget.currency.name }}</a><br>
  <span *ngIf="budget.default_account">Default account: <a [routerLink]="['/accounts', budget.default_account.id]">{{budget.default_account.name}}</a><br></span>
  Incomes: <span [ngClass]="{'text-success': budget.incomes_balance > 0}">{{budget.incomes_balance > 0 ? '+' + budget.incomes_balance : '0.0'}}</span><br>
  Expenses: <span [ngClass]="{'text-danger': budget.expenses_balance < 0}">{{budget.expenses_balance ? budget.expenses_balance : '0.0'}}</span><br>
  Balance: <span [ngClass]="{'text-success': budget.balance > 0, 'text-danger': budget.balance < 0}">{{budget.balance ? (budget.balance > 0 ? '+' + budget.balance : budget.balance) : '0.0'}}</span><br>
</div>
