<RadListView [items]="_elements" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
  <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
    <StackLayout [ngClass]="{'bg-red': active_row ? active_row(item) : false}">
      <ng-container *ngIf="item">
        <Label [text]="item.card_title"></Label>
        <Label *ngIf="item.card_subtitle" [text]="item.card_subtitle"></Label>
        <StackLayout *ngFor="let card of item.cards">
          <Label text="{{card.title}}: {{card.value}}"></Label>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
      </ng-container>
    </StackLayout>
  </ng-template>
</RadListView>
